<div class="card" ng-repeat="gun in data.guns">
  <div class="card-block">
      <div class="gun-item gun-left">
         <h4 class="card-title">Type: {{gun.firearm_type}}</h4>
         <p class="card-text">Date: {{gun.acquisition_date}}</p>
      </div>
      
      <div class="gun-item gun-mid">
         <h4 class="card-title">Manufacturer: {{gun.manufacturer}}</h4>
         <p class="card-text">Model: {{gun.model}}</p>
      </div>
      
      <div class="gun-item gun-right">
         <h4 class="card-title">Caliber/Guage: {{gun.caliber_guage}}</h4>
         <p class="card-text">Serial #: {{gun.serial_num}}</p>
      </div>
      
      <div class="gun-item gun-status">
        <hr class="active-light" ng-show="gun.status == 'active'">
        <hr class="alert-light" ng-show="gun.status == 'alert'">
        <hr class="off-light" ng-show="gun.status == 'off'">
      </div>
      
      <div class="gun-item gun-enable">
        <button class="btn btn-gunloc" ng-click='buttonClick({gun: gun})'>Enable</button>
      </div>
  </div>
</div>